@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary-color: #1977cc;
  --secondary-color: #444;
  --white: #fff;
  --primary-light-color: #a0ccf3;
  --light-color: #777;
  --primary-box-shadow: 0.5rem 0.5rem 0 rgba(25, 119, 204, 0.2);
  --secondary-box-shadow: 0.4rem 0.4rem 0 rgba(68, 68, 68, 0.2);
  --text-shadow: 0.4rem 0.4rem 0 rgba(68, 68, 68, 0.2);
  --primary-border: 0.2rem solid var(--primary-color);
  --primary-light-border: 0.2rem solid var(--primary-light-color);
  --secondary-border: 0.2rem solid var(--secondary-color);
  --background-color: #f5f5f5;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all 0.2s ease-out;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7rem;
  scroll-behavior: smooth;
}
